/* Global styles
   ========================================================================== */
@import './settings';

   html {
    font-size: 100%;
    min-height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: $font-regular;
}

body {
    text-rendering: optimizeLegibility;
    font-family: $font-regular;
    overflow-x: hidden;
    padding-top: $mobile-padding;

    @include breakpoint($ipad-horizontal){
        padding-top: $desktop-padding;
    }

    &.light{
        background-color: $color-5-normal;
        color: $color-1-normal;

        & a{
            &:visited{
                color: $color-1-normal;
            }
            &:hover{
                color: $color-2-normal;
            }
        }
        

    }

    &.dark{
        background-color: $color-1-normal;
        color: $color-6-normal; 
        & a{
            &:visited{
                color: $color-6-normal;
            }
            &:hover{
                color: $color-2-normal;
            }
        }
    }
}

.container{
    box-sizing: border-box;
    width: auto;
    max-width: 1640px;
    padding: 0 1.5rem;
    margin-left: 15rem;
    margin-right: 15rem;
}

li {
    list-style: none;
}

