
/**
 * Typography
 */

 $font-regular: "Trebuchet MS";

 // Brand colors
 $color-1-normal: #FFFFFF;
 $color-2-normal: #9E1F63;
 $color-3-normal: #000000;
 $color-4-normal: #FFECD5;
 $color-5-normal: #9C680059;

// Box colors
 $color-box-beige: #FFECD5;
 $color-box-white: #FFFFFF;

// Line colors
 $line-color-gray: #E2E2E2;

// Text colors
 $color-font-dark: #000000;
 $color-font-white: #ffffff;
 $color-font-gray: #727272;
 $color-font-dark-gray: #414141;
 $color-font-red: #E61616;
 
// Extra Padding
 $desktop-padding: 96px;
 $mobile-padding: 80px;