
/**
 * Typography
 */

 $font-heading: "PT Sans Bold";
 $font-regular: "PT Sans Regular";
 $font-subs: "Reenie Beenie";
 // Brand colors
 $color-1-normal: #181C24;
 $color-2-normal: #E45849;
 $color-3-normal: #A14238;
 $color-4-normal: #CBE9EE;
 $color-5-normal: #FBF2E4;
 $color-6-normal: #FFFFFF;

// Box colors
 $color-box-beige: #FFECD5;
 $color-box-white: #FFFFFF;

// Line colors
 $line-color-gray: #E2E2E2;

// Text colors
 $color-font-dark: #000000;
 $color-font-white: #ffffff;
 $color-font-gray: #727272;
 $color-font-dark-gray: #414141;
 $color-font-red: #E61616;
 
// Extra Padding
 $desktop-padding: 96px;
 $mobile-padding: 80px;