
<section class="container first kitchensink-section" id=" buttons" >
    <a
        class="btn"
        type="button"
    >
    Normal button
    </a>

    <button
        class="btn btn-primary"
        type="button"
    >
    Download
    </button>
    <button 
        class="btn btn-primary"
        type="button"
        :disabled
    >
    Disabled button
    </button>
    <button
        class="btn btn-toggle"
        type="button"
    >
    </button>

</section>

<section class="container kitchensink-section" id="typography">
    <h1>This is a H1  with a <span class="highlighted">highlighted part</span></h1>

    <p class="subtext">This is a subtext</p>
</section>


