@import '../../styles/settings';


.navigation{
    // background-color:  $color-1-normal;
    position: fixed;
    padding: 1rem 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    
    &-subtitle{
        font-family: $font-heading;
        font-weight: 700;
        font-size: 2rem;
        text-decoration: none;
        margin-right: 5rem;
    }

    &-container{
        display: flex;
        flex-direction: row;   
        justify-content: space-between;
    }

    &-logo {
        align-self: flex-start;
        width: 25%;
        min-width: 134px;
        max-width: 186px;
        height: auto;
     }

     &-items{
         display: flex;
         align-items: center;
        //  text-decoration: none;
     }


}