<section id="main-navigation" class="navigation">
    <div class="navigation-container container ">
        <div class="navigation-items">
            <a class="navigation-subtitle" href="/">
                Dave.
            </a>
     
      
        <!-- <div class="navigation-items"> -->
            <li><a class="btn" href="/">Skills</a></li>
            <li><a class="btn" href="/">Work</a></li>
            <li><a class="btn" href="/">Contact</a></li>
        <!-- </div> -->
        </div>
        <div class="navigation-items">
            <a class="btn" href="/">
                Linkedin
            </a>
            <a class="btn" href="/">
                Github
            </a>
        
        
            <button class="btn btn-primary btn-primary-icon">Download CV
                <img src="assets/download.svg">
            </button>

            <button class="btn btn-toggle">
            </button>
        </div>
        <!-- <button class="btn-hamburger main-nav-hamburger">
           
            <div></div>
            <div></div>
            <div></div>
        </button> -->
    </div>
</section>